[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

Assembly-CSharp.csproj
UserSettings/EditorUserSettings.asset
UserSettings/Layouts/CurrentMaximizeLayout.dwlt
UserSettings/Layouts/default-2022.dwlt
UserSettings/EditorUserSettings.asset
UserSettings/EditorUserSettings.asset
